@use 'constants';
@media (min-width: 992px) {
  .navbar,
  .navbar-collapse {
    position: absolute;
    background: lightgray;
    height: 100vh;
    width: constants.$vertical-navbar-width;
    flex-direction: column;
    z-index: 10;
    align-items: flex-start;
  }
  .navbar .container-fluid {
    flex-direction: column !important;
    align-items: flex-start;
    height: 100vh;
    padding: 0;
  }
  .navbar-brand {
    margin-top: 0 !important;
    padding-top: 0 !important;
    align-self: flex-start;
  }
  .navbar-nav {
    flex-direction: column !important;
    width: 100%;
  }
  #mainContainer{
    margin-left: #{constants.$vertical-navbar-width};
    width: calc(100% - #{constants.$vertical-navbar-width});
    min-height:80vh;
    overflow-x:hidden;
  }
  main {
    width:100%;
  }
  
}