@media (min-width: 992px) {
  .navbar,
  .navbar-collapse {
    position:absolute;
    background:hotpink;
    height:100vh;
    width:5vw;
    flex-direction:column;
    z-index:10;
  }
  .navbar-collapse{
    flex-direction:column;
    align-items:flex-start;
    width:100%;
    height:100%;
  }
  .navbar .container-fluid {
    flex-direction: column !important;
    align-items: flex-start;
    height: 100vh;
    padding: 0;
  }
  .navbar-nav {
    flex-direction: column !important;
    width: 100%;
  }
  
}
