.form-step {
    display: none;
}
.form-step.active {
    display: block;
}
.cstm-btn-anim{
    animation: show;
    animation-duration:1s;
    animation-iteration-count: 1;
}

@keyframes show {
    0% {
        opacity:0;
        transform:translateY(-0.5rem);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}